<div class="main-content">
  <div class="container-fluid">
<ul class="nav nav-pills nav-pills-icons" role="tablist">
  <!--
      color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
  -->
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['view/cis','1']" role="tab" data-toggle="tab">
      <i class="material-icons">dashboard</i>
      Dashboard
    </a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link active"  role="tab" [routerLink]="['view/pst','2']" data-toggle="tab">
      <i class="material-icons">schedule</i>
      Schedule
    </a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['view/nr','3']" role="tab" data-toggle="tab">
      <i class="material-icons">list</i>
      Tasks
    </a>
  </li>
</ul>
<div class="tab-content tab-space">
  <router-outlet></router-outlet>
  <!--<div class="tab-pane" id="schedule-1">
    Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
    <br><br>Dramatically maintain clicks-and-mortar solutions without functional solutions.
  </div>
  <div class="tab-pane" id="tasks-1">
    Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
    <br><br>Dynamically innovate resource-leveling customer service for state of the art customer service.
  </div>-->
</div>
  </div>
</div>

